SSH_USER=<username>
SSH_IP=xxx.xxx.xxx.xxx
SSH_PASSWORD=<password>

SNMP_USER=snmpuser
SNMP_AUTH_PASS=authpass
SNMP_PRIV_PASS=privpass
SNMP_COMMUNITY=community

WEB_LOGIN_URL=<login_url>
WEB_USERNAME=<web_username>
WEB_PASSWORD=<web_password>

TESTBED_DIAGRAM=../../../testbed.png