SSH_USER=dut
SSH_IP=10.80.127.211
SSH_PASSWORD=reaper@123

SNMP_USER=snmpuser
SNMP_AUTH_PASS=authpass
SNMP_PRIV_PASS=privpass
SNMP_COMMUNITY=community

WEB_LOGIN_URL=http://authelia.home.local
WEB_USERNAME=admin
WEB_PASSWORD=yourpassword

TESTBED_DIAGRAM=../../../testbed.png